{{!-- <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li> --}}
<li data-id="truckid {{id}}" class="list-group-item">
          <div style="font-size: medium; color:green; font-weight:bold">{{name}}</div><img style="height:50px;" src="{{image}}" />
          {{twitterId}}
</li>
